{% extends './base.html' %}
{% block content %}

        
<h1>店家一覽</h1>


<table class='table table-active table-hover'>
    <tr>
        <th>類別</th><th>店名</th><th>地址</th>
    </tr>
    {% for shop in object_list %}
    <tr>
        <td>{{ shop.category.name }}</td>
        <td><a href='{% url "lunchmap:detail" shop.pk %}'>{{ shop.name }}</a></td>
        <td>{{ shop.address }}</td>
    </tr>
    {% endfor %}
</table>

<div>
    <a href='{% url "lunchmap:create" %}'>新店家</a>
</div>
{% endblock %}